/*
  Name: Louisa Chen; Sophia Tang
  Date: Nov 1, 2023
  Section: CSE 154 AF, AD
  This is the login.css page for the the MyPlan web page login function for CSE 154 final project.
  This css contains all the styling for login function in the html pages.
*/

#login form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.login-container {
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-input {
  width: 70%;
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: text;
  display: block;
}